@font-face {
    font-family: "Cyber";
    src: url(fonts/CyberwayRiders-lg97d.ttf)
}

body {
    font-family: 'Roboto';
    color: #ecf0f1;
    background-color: #222f3e;
}

.Navigation {
    text-align: center;
}

.Navigation ul {
display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}

.Navigation li {
  float: left;
  margin-right: 50px;
}

.Navigation li a {
    text-decoration: none;
    color: #ecf0f1;
}

.logo {
    margin-top: 5px;
    font-size: 60px;
    color: #0abde3;
    font-family:'Cyber';
}

.Container{
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}

footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    height: 2.5rem;
}