@font-face {
    font-family: "Cyber";
    src: url(fonts/CyberwayRiders-lg97d.ttf)
  }

body {
    font-family: 'Roboto';font-size: 22px;
    background-color: #222f3e;
}

.logo {
    font-size: 60px;
    color: #8395a7;
    font-family:'Cyber';
}